<h1>Login User</h1>

<form action="/user/login" method="POST">
  <div class="user-form">

    <div class="input-element">
      <label for="username">Username:</label>
      <input type="text" name="username" class="username" maxlength="100" required>
    </div>
  
    
    <div class="input-element">
      <label for="password">Password:</label>
      <input type="password" name="password" class="password" maxlength="100" required>
    </div>
    
    <button type="submit">Login</button>
  </div>
</form>