<h1>Search for User</h1>

<form action="/pedigree/search" method="POST">
  <div class="user-form">

    <div class="input-element">
      <label for="username">Username:</label>
      <input type="text" name="username" class="username" maxlength="100" required>
    </div>
    
    <button type="submit">Search</button>
  </div>
</form>